
/* ------------------------ Player ------------------------*/

.container.one-event {
    background-color: #000;
}

.stage.section {
    max-width: 100%;
    background-color: #000;
}

.stage.section .head {
    width: 100%;
    padding-top: 0; 
}

.stage.section .head hr {
    margin: 15px 0;
}

.stage.section .head .live-bulb {
    border-radius: 4px;
    background-color: red;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stage.section .head .dot{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: white;
    margin-left: 5px;
    animation: flash 0.25s infinite alternate;
}

@keyframes flash {
    0% { opacity: 0;}
    100% { opacity 1;}
}

#player {
    max-width: 94vw;
}

.live-comment {
    height: 40vh;
    width: 100%;
}

.field {
    height: 50px;
    border: 1px white solid;
    border-radius: 10px;
    margin: 20px 0;
}

