
/* ------------------------ Player ------------------------*/

.container.one-event {
    background-color: #000;
}

.stage.section {
    max-width: 100%;
    background-color: #000;0
}

.stage.section .head {
    width: 100%;
}

#player {
    max-width: 94vw;
}

.live-comment {
    height: 40vh;
    width: 100%;
}

.field {
    height: 50px;
    border: 1px white solid;
    border-radius: 10px;
    margin: 20px 0;x
}

