
/* ------------------------ Player ------------------------*/

.container.one-event {
    background-color: #000;
}

.stage.section {
    max-width: 100%;
    background-color: #000;0
}

#player {
    max-width: 94vw;
} 

