* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #222;
}

a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
}

h1,h2,h3,h6 {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

h1 {
    font-weight: 900;
    margin: 0;
}

h2 {
    font-weight: 700;
    font-size: 20px;
    margin: 8px 0px;
}

h3 {
    font-weight: 400;
    font-size: 14px;
    margin: 8px 0px;
}
    
h6 {
    font-weight: 700;
    margin: 0px;
}

hr {
    margin: 8px 0px;
}

@media(min-width:768px) {
    
    h1 {
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
        margin: 10px 0;
    }

    hr {

    }
}

.container {
    position: relative;
    min-height: 100vh;
}

.section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contents {
    padding: 5%;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ------------------------ Navbar ------------------------*/

.nav {
    left: 0;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 80px;
    background-color: ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6%;
}

.nav-logo {
    width: 60px;
    position: relative;
    z-index: 4;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo img {
    width: 40px;
}

/* ------------------------ Hero ------------------------*/

.hero {
    width: 100%;
    display: none;
}

.hero img {
    width: 100%;
}

/* ------------------------ Events ------------------------*/

.section.events {
    padding-bottom: 10%;
}

.event-card {
    position: relative;
    margin-bottom: 20px;
    height: 70vh;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0px 5px 20px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.event-card a {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.event-card .image {
    min-width: 100%;
    max-height: 40vh;
    height: 40vh;/* lower than card height */
    border-radius: 20px 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.event-card img {
    max-width: 100%;
}

.event-card .info {
    width: 100%;
    height: 30vh;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.event-card .info hr {
    width: 100%;
}

.event-card .button {
    position: absolute;
    background-color: #AA2222;
    padding: 10px;
    border-radius: 4px;
}

.event-card.disabled .button {
    background-color: #666;
    padding: 10px;
    border-radius: 4px;
}

.event-card.disabled .button h6 {
    color: #999;
}

.blank {
    background-color: cornflowerblue;
    height: 100%;
    width: 100%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media(min-width:768px){
    
    .event-card {
        height: 60vh;
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .event-card .image {
        min-width: 50%;
        width: 40%;
        max-height: 100%; /* lower than card height */
        border-radius: 20px 0px 0px 20px;
    }
    
    .event-card .info {
        width: 59%;
        height: 100%;
        padding: 50px;
    }

}


/* ------------------------ Footer ------------------------*/

.footer {
    padding: 20px;
}

.footer a {
    font-size: 10px;
}